*, *::before, *::after {
    /* Для всех элементов и их псевдоэлементов before и after */
    /* Для правильного размера чтобы сразу с учетом паддингов */
    box-sizing: border-box;
}

body {
    background: #cc9040;
    font: 16px/1.8 Georgia, serif;
}